.app-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.app-container .participant-list {
  min-width: 200px;
}

.app-container .team-list {
  flex: 1;
}

.statistics-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
