.chip {
    display: inline-block;
    background-color: #e0e0e0;
    font-size: 12px;
    border-radius: 16px;
    padding: 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
  }
  
  /* .chip-label {
    margin-right: 4px;
    margin-left: 4px;
  } */
  
  .delete-button {
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    color: #757575;
  }
  