.participant-item {
  width: 100%;
}

.participant-summary {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.participant-summary .avatar {
  width: 50px;
}

.participant-summary .name {
  display: flex;
  align-items: center;
}

.participant-summary .tags {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* display: flex;
  flex-direction: row;
  gap: 5px; */
}
