.participant-summary {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.participant-summary .avatar {
  width: 50px;
}

.participant-summary .name {
  display: flex;
  align-items: center;
}

/* .participant-summary .tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
} */
